image: openjdk:11     #Defining the Docker Image

variables:


services:
  - postgres:12.2-alpine

variables:
  POSTGRES_DB: "price"
  POSTGRES_USER: "postgres"
  POSTGRES_PASSWORD: "password"
  POSTGRES_HOST_AUTH_METHOD: trust
  spring.datasource.jdbc-url: "postgres"
  
stages:
  - run_test
  - post_test

run:unit_test:
  stage: run_test
  script:
    - java --version
    - ./mvnw test

post:unit_test:
  stage: post_test
  script:
    - echo $PWD